<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>管理</title>
    <link rel="stylesheet" href="../../assets/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="../../assets/module/admin.css?v=315"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- 页面加载loading -->
<div class="page-loading">
    <div class="ball-loader">
        <span></span><span></span><span></span><span></span>
    </div>
</div>

<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body table-tool-mini full-table">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">单 元：</label>
                        <div class="layui-input-inline mr0">
                            <input name="name" class="layui-input" type="text" placeholder="输入单元名"/>
                        </div>
                    </div>
                    <div class="layui-inline" style="padding-right: 110px;">
                        <button class="layui-btn icon-btn" lay-filter="formSubSearchBook" lay-submit>
                            <i class="layui-icon">&#xe615;</i>搜索
                        </button>
                        <button id="btnAddBook" class="layui-btn icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>
                    </div>
                </div>
            </div>

            <table class="layui-table" id="tableBook" lay-filter="tableBook"></table>
        </div>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="tableBarBook">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<!-- 表单弹窗 -->
<script type="text/html" id="modelBook">
    <form id="modelBookForm" lay-filter="modelBookForm" class="layui-form model-form">
        <input name="id" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label">单元名</label>
            <div class="layui-input-block">
                <input name="name" placeholder="请输入楼栋名" type="text" class="layui-input" maxlength="20"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">属于楼栋</label>
            <div class="layui-input-block">
                <select name="building_id" lay-verify="required">
                    <option value="">请选择属于哪栋</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closePageDialog">取消</button>
            <button class="layui-btn" lay-filter="modelSubmitBook" lay-submit>保存</button>
        </div>
    </form>
</script>
<script type="text/html" id="building_1">
    {{d.building.name}}栋
</script>
<!-- js部分 -->
<script type="text/javascript" src="../../assets/libs/layui/layui.js"></script>
<script type="text/javascript" src="../../assets/js/common.js?v=315"></script>
<script>
    layui.use(['layer', 'form', 'table', 'util', 'admin', 'tableX'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;
        var tableX = layui.tableX;

        // 渲染表格
        var insTb = table.render({
            elem: '#tableBook',
            url: '/api/getAllDanyuans',
            page: true,
            height: "full-100",
            toolbar: true,
            cellMinWidth: 100,
            cols: [
                [
                    {field: 'id', title: 'id'}
                    ,{field: 'name', sort: true,title: '单元名'}
                    ,{field: 'building', sort: true, templet: '#building_1', title: '隶属楼栋'}
                    ,{align: 'center', toolbar: '#tableBarBook', title: '操作', minWidth: 200}
                ]
            ]
        });

        // 添加
        $('#btnAddBook').click(function () {
            showEditModel();
        });

        // 搜索
        form.on('submit(formSubSearchBook)', function (data) {
            insTb.reload({where: data.field,url:'/api/findDanyuan',page : {curr : 1}}, 'data');
        });

        // 工具条点击事件
        table.on('tool(tableBook)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if (layEvent === 'edit') { // 修改
                showEditModel(data);
            } else if (layEvent === 'del') { // 删除
                doDel(data.id, data.name);
            }
        });

        // 显示表单弹窗
        function showEditModel(mBook) {
            var option = "";
            if(mBook==null){
                admin.open({
                    type: 1,
                    title: '添加单元',
                    content: $('#modelBook').html(),
                    success: function (layero, dIndex) {
                        $.ajax({
                            url: '/ajax/getAllBuildings',
                            dataType: 'json',
                            type: 'get',
                            async:false,
                            success: function (res) {
                                if (res.code == 0){
                                    for(var i in res.data){
                                        option += "<option value='"+res.data[i]['id']+"'>"+res.data[i]['name']+"</option>";
                                    }
                                }
                                $("[name='building_id']").append(option);
                                form.render()
                            }
                        })
                        $(layero).children('.layui-layer-content').css('overflow', 'visible');
                        var url = '/api/addDanyuan';
                        // 回显数据
                        form.val('modelBookForm', mBook);
                        // 表单提交事件
                        form.on('submit(modelSubmitBook)', function (data) {
                            layer.load(2);
                            $.ajax({
                                url:url,
                                type:"POST",
                                data:JSON.stringify(data.field),
                                contentType:"application/json; charset=utf-8",
                                dataType:"json",
                                success: function(res){
                                    layer.closeAll('loading');
                                    if (res.code == 200) {
                                        layer.close(dIndex);
                                        layer.msg(res.msg, {icon: 1});
                                        insTb.reload({}, 'data');
                                    } else {
                                        layer.msg(res.msg, {icon: 2});
                                    }
                                }
                            })
                            return false;
                        });
                    }
                });
            }else{
                admin.open({
                    type: 1,
                    title: '修改单元',
                    content: $('#modelBook').html(),
                    success: function (layero, dIndex) {
                        $.ajax({
                            url: '/ajax/getAllBuildings',
                            dataType: 'json',
                            type: 'get',
                            async:false,
                            success: function (res) {
                                if (res.code == 0){
                                    for(var i in res.data){
                                        option += "<option value='"+res.data[i]['id']+"'>"+res.data[i]['name']+"</option>";
                                    }
                                }
                                $("[name='building_id']").append(option);
                                form.render()
                            }
                        })
                        $(layero).children('.layui-layer-content').css('overflow', 'visible');
                        var url = '/api/updateDanyuan';
                        //mBook && (mBook.roleId = mUser.roles[0].roleId);
                        // 回显数据
                        form.val('modelBookForm', mBook);
                        // 表单提交事件
                        form.on('submit(modelSubmitBook)', function (data) {
                            layer.load(2);
                            $.ajax({
                                url:url,
                                type:"POST",
                                data:JSON.stringify(data.field),
                                contentType:"application/json; charset=utf-8",
                                dataType:"json",
                                success: function(res){
                                    layer.closeAll('loading');
                                    if (res.code == 200) {
                                        layer.close(dIndex);
                                        layer.msg(res.msg, {icon: 1});
                                        insTb.reload({}, 'data');
                                    } else {
                                        layer.msg(res.msg, {icon: 2});
                                    }
                                }
                            })
                            return false;
                        });
                    }
                });
            }

        }

        // 删除
        function doDel(id, name) {
            layer.confirm('确定要删除“' + name + '”吗？', {
                skin: 'layui-layer-admin',
                shade: .1
            }, function (i) {
                layer.close(i);
                layer.load(2);
                $.get('/api/delDanyuan', {
                    id: id
                }, function (res) {
                    layer.closeAll('loading');
                    if (res.code == 200) {
                        layer.msg(res.msg, {icon: 1});
                        insTb.reload({}, 'data');
                    } else {
                        layer.msg(res.msg, {icon: 2});
                    }
                }, 'json');
            });
        }


    });
</script>

</body>
</html>